body {
    margin: 0;
    display: flex;
    overflow: hidden;
    align-items: center;
    flex-direction: column;

    color: #e3e3e3;
    font-family: Arial, Helvetica, sans-serif;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #e3e3e3;
}

.link {
    color: #e3e3e3;
}

::-webkit-scrollbar {
    width: 0.4rem;
    height: 0.3rem;
}

::-webkit-scrollbar-thumb {
    backdrop-filter: blur(.75rem);
    -webkit-backdrop-filter: blur(.75rem);
    background: rgb(0 0 0 / 40%);
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.selectable { /* for children of unselectable components */
    -webkit-touch-callout: all;
    -webkit-user-select: all;
    -khtml-user-select: all;
    -moz-user-select: all;
    -ms-user-select: all;
    user-select: all;
}

#header {
    z-index: 5;
    width: 95%;
    display: flex;
    height: 7.5vh;
    height: 7.5dvh;
    align-items: center;
    justify-content: space-between;
}

#header .brand {
    height: 55%;
    cursor: pointer;
    border-radius: 2rem;
    backdrop-filter: blur(.75rem);
    -webkit-backdrop-filter: blur(.75rem);
    background: rgba(150, 150, 150, 0.35);
    filter: drop-shadow(black 0px 0px 0.4rem);
    box-shadow: rgb(0 0 0) 0px 0px 0.25vh inset;
}

.brand .branding {
    gap: .25rem;
    height: 100%;
    display: flex;
    margin: 0 1.35rem;
    align-items: center;
}

.brand .branding img {
    height: 50%;
}

#header .brand:hover {
    cursor: pointer;
    filter: drop-shadow(black 0px 0px 0.4rem) brightness(0.9);
}

#header .linksWrapper {
    max-width: 65%;
    overflow: hidden;
    border-radius: 1rem;
    backdrop-filter: blur(.75rem);
    -webkit-backdrop-filter: blur(.75rem);
    background: rgba(150, 150, 150, 0.35);
    filter: drop-shadow(black 0px 0px 0.4rem);
    box-shadow: rgb(0 0 0) 0px 0px 0.25vh inset;
}

.linksWrapper .links {
    gap: 1.35rem;
    display: flex;
    overflow-y: auto;
    align-items: center;
}

.links .link {
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.link.disabled {
    filter: drop-shadow(0 0 0.05rem black) brightness(0.75);
}

.links .link, #header .brand a {
    font-size: .9rem;
}

.link, .text, #header .brand a {
    filter: drop-shadow(0 0 0.05rem black);
}

.link:link, #header .brand a {
    color: #e3e3e3;
    text-decoration: none;
}

.link:visited, #header .brand a {
    color: #e3e3e3;
    text-decoration: none;
}

.link:hover:not(.disabled) {
    cursor: pointer;
    filter: drop-shadow(0 0 0.05rem black) brightness(0.9);
}

#content {
    width: 100%;
    height: 92.5vh;
    height: 92.5dvh;
    overflow: hidden;
}

.landing {
    width: 100%;
    height: 100%;
    display: flex;
    font-weight: bolder;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    backdrop-filter: blur(.75rem);
    -webkit-backdrop-filter: blur(.75rem);
}

.infoBox {
    margin: 1rem;
    min-width: 20%; 
    padding: 2.75rem;
    border-radius: 2.5vh;
    backdrop-filter: blur(.75rem);
    -webkit-backdrop-filter: blur(.75rem);
    background: rgba(150, 150, 150, 0.35);
    filter: drop-shadow(black 0px 0px 0.4rem);
    box-shadow: rgb(0 0 0) 0px 0px 0.25vh inset;
}

.info {
    padding: 1rem;
    min-width: 20%;
    text-align: center;
    border-radius: 2.5vh;
    backdrop-filter: blur(.75rem);
    -webkit-backdrop-filter: blur(.75rem);
    background: rgba(150, 150, 150, 0.35);
    filter: drop-shadow(black 0px 0px 0.4rem);
    box-shadow: rgb(0 0 0) 0px 0px 0.25vh inset;
}

.infoBox hr {
    opacity: 0.5;
}

.infoBox .header {
    display: flex;
    font-size: 2.5rem;
    justify-content: center;
}

.infoBox .info {
    gap: .55rem;
    display: flex;
    font-size: 1.5rem;
}

.infoBox .info .icons {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.infoBox .info .labels div {
    gap: .3rem;
    display: flex;
    align-items: baseline;
}

.infoBox .hyperlink {
    font-size: 0.6rem;
}

.input {
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.symbol {
    text-align: center;
    font-size: 8rem;
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    padding: 1.25vh;
    color: #e3e3e3;
    outline: #e3e3e3 solid 0.1vw;
    background: rgb(150 150 150 / 35%);
    box-shadow: rgb(0 0 0) 0px 0px 1.25vh inset;
}

.iconButton {
    width: 0.5rem;
    height: 0.5rem;
    padding: 1rem;
    display: flex;
    cursor: pointer;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;

    background: #64646480;
    backdrop-filter: blur(0.5vw);
    outline: #e3e3e3 solid 0.1vw;
    box-shadow: rgb(0 0 0) 0px 0px 0.75vh inset;
}

.errorLog {
    font-weight: normal!important;
    color: black;
    display: flex;
    flex-direction: column-reverse;
    overflow: auto;
    width: 30rem;
    height: 30rem;
    position: absolute;
    top: 15rem;
    left: 7.5rem;
}

.iconButton#settings {
    position: absolute;
}

.settingsWrapper {
    z-index: 1;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.settings {
    height: 50%;
    margin: 1rem;
    min-width: 30%; 
    padding: 2.75rem;
    border-radius: 2.5vh;
    backdrop-filter: blur(.75rem);
    -webkit-backdrop-filter: blur(.75rem);
    background: rgba(150, 150, 150, 0.35);
    filter: drop-shadow(black 0px 0px 0.4rem);
    box-shadow: rgb(0 0 0) 0px 0px 0.25vh inset;
}

.settings .checkbox {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.settings .checkbox input {
    color: rgb(227, 227, 227);
    box-shadow: rgb(0 0 0) 0px 0px 1vh inset;
    padding: 1.25vh;
    border: none;
    outline: none;
    background: rgb(58, 58, 58);
}

.settings .checkbox input:checked {
    background: #89cff0;
}

.slider {
    width: 100%;
    display: flex;
    justify-content: center;
}

.slider input {
    -webkit-appearance: none;
    appearance: none;
    width: 85%;
    height: 1.5rem;
    background: #64646480;
    backdrop-filter: blur(0.5vw);
    outline: #e3e3e3 solid 0.1vw;
    box-shadow: rgb(0 0 0) 0px 0px 0.75vh inset;
}

.slider input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    background: #e3e3e3;
}

.slider input::-moz-range-thumb {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    background: #e3e3e3;
}

/* CSS that should be displayed if width is equal to or less than 800px goes here */
@media (max-width: 800px) {
    .errorLog {
        height: 10rem;
        width: 85%;
        position: unset;
        top: unset;
        left: unset;
    }

    .settings {
        min-width: 70%;
    }
}